body {
    font-family: "Helvetica", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}


/* Container 1 */
.container-1 {
    background: #1F2937;
    display: flex;
    padding: 20px 260px 100px 150px;
    gap: 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: 950;
    color: #F9FAF8;
}

.item-1 {
    margin-left: auto;
}

.item-1,
.item-2,
.item-3 {
    font-size: 18px;
    color: #E5E7EB;
} 


/* Container 2 */
.container-2 {
    background: #1F2937; 
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-bottom: 100px;
}

.container-2 .subcontainer {
    display: flex;
    flex-direction: column;
} 

.subcontainer {
    gap: 8px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container-2 .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.container-2 .button {
    font-weight: bold;
    background: #3882F6; 
    color: white; 
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    align-self: flex-start;
    margin-top: 5px;
}

.ocean {
    border-radius: 8px;
    width: 600px;
    height: auto;
    margin-left: 150px;
    align-self: center;
}


/* Container 3 */
.container-3 {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

.header-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.container-3 img {
    border-radius: 8px;
    width: 250px;
    height: auto;
}

.info {
    font-size: 18px;
    text-align: center;
    max-width: 250px;
  }


  /* Container 4 */
.container-4 {
    font-size: 36px;
    color: #1F2937;
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.container-4 div {
    max-width: 650px;
}

.container-4 .quote {
    font-style: italic;
    padding: 5px;
}

.container-4 .client {
    font-weight: bold;
    margin-left: 370px;
}


/* Container 5 */
.container-5 {
    display: flex;
    justify-content: center;
    padding: 40px 90px 30px 90px;
    margin: 90px 450px 90px 450px;
    background: #3882F6;
    color: white; 
    gap: 400px;
    border-radius: 10px;
}

.container-5 .action {
    font-weight: bold;
    text-align: start;
}

.container-5 .info {
    text-align: start;
    gap: 5px;
}

.container-5 .button {
    padding: 10px 30px 10px 30px;
    align-self: center;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
}

.container-5 .action-2 {
    color: #E5E7EB;
    width: 500px;
}
